<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/task-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Edit' : 'New' }} Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-section">
      <h2>Task Details</h2>
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input formControlName="title" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Type</ion-label>
        <ion-select formControlName="type">
          <ion-select-option *ngFor="let type of taskTypes" [value]="type.key">
            <ion-icon [name]="type.icon" [color]="type.color"></ion-icon>
            {{ type.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Frequency</ion-label>
        <ion-select formControlName="frequency">
          <ion-select-option *ngFor="let freq of frequencies" [value]="freq.key">
            <ion-icon [name]="freq.icon"></ion-icon>
            {{ freq.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Customer</ion-label>
        <ion-select formControlName="customerId">
          <ion-select-option [value]="null">None</ion-select-option>
          <ion-select-option *ngFor="let customer of customers$ | async" [value]="customer.id">
            {{ customer.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="form-section">
      <h2>When should it start?</h2>
      <ion-item>
        <ion-label position="floating">Start Date</ion-label>
        <ion-datetime formControlName="startDate" presentation="date"></ion-datetime>
      </ion-item>
    </div>

    <div class="form-section">
      <h2>Notification Settings</h2>
      <ion-item>
        <ion-label position="floating">Notification Type</ion-label>
        <ion-select formControlName="notificationType">
          <ion-select-option *ngFor="let type of enabledNotificationTypes$ | async" [value]="type.key">
            {{ type.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Notification Time</ion-label>
        <ion-datetime formControlName="notificationTime" presentation="time" hourCycle="h12"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Additional Notification Value</ion-label>
        <ion-input formControlName="notificationValue" type="text"></ion-input>
      </ion-item>
    </div>

    <div class="form-section">
      <h2>Notes</h2>
      <ion-item>
        <ion-textarea formControlName="notes" placeholder="Add notes here..." rows="4"></ion-textarea>
      </ion-item>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" class="ion-margin" (click)="onSubmit()" [disabled]="!taskForm.valid">
      {{ isEditMode ? 'Update' : 'Create' }} Task
    </ion-button>
  </ion-toolbar>
</ion-footer> 